# --- General ---
__pycache__/
*.pyc
*.pyo
*.DS_Store

# --- Data & models ---
data/
logs/
models/*.pkl
reports/
notebooks/*.ipynb_checkpoints/

# --- Secrets ---
config/api_football_key.txt

# --- Streamlit / Cache ---
.streamlit/
.env
